body {
    font-family: "Inter";

}

a {
    text-decoration: none;
}

a:visited {
    color: #000000
}

li {
    list-style: none;
}


.preloader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fcfefc;
}

.preloader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/*-----------Menu----------*/
.nav__logo {
    position: absolute;
    left: 5.26%;
    right: 85.96%;
    top: 0%;
    font-size: 20px;
    line-height: 24px;
}

.nav__search {
    position: absolute;
    width: 350px;
    height: 25px;
    left: 360px;
    top: 14px;
    background-repeat: no-repeat;
    background: #F2F2F2;
    padding-left: 30px;
    border-color: #F2F2F2;
    border-radius: 4px;
}

.nav__icon {
    margin-left: 360px;
    width: 25px;
    height: 25px;
    z-index: 1;
    position: absolute;
    background-image: url('icons/search.png');
    border: none;
}

.nav__search::placeholder {
    font-family: "Inter";
    line-height: 17px;
    color: #000000;
}

.nav__menu_list {
    display: flex;
    justify-content: flex-end;
    padding-right: 14vw;
}

.nav__menu_item {
    margin-right: 60px;
}

.nav__menu_item_hidden {
    animation: fadeInRight 5s;
    animation-fill-mode: both;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.nav__menu_item:last-child::before {
    content: "⚡";
}

.nav__submenu {
    visibility: hidden;
    opacity: 0;
}

li:hover>.nav__submenu {
    visibility: visible;
    opacity: 1;
    column-count: 2;
}


.nav__burger {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    border: none;
    background-color: white;
    left: 93%;
    top: 1%;
}

.nav__item {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.moveMenu .nav__item:first-child {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.moveMenu .nav__item:nth-child(2) {
    opacity: 0;
}

.moveMenu .nav__item:last-child {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*-----------Main----------*/

.content {
    min-height: 80vh;
}

.content__list {
    width: 70%;
    padding: 10px;
}

.content__post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content__post div {
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 0px -30px 40px 165px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content__post img {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content__post h4,
.content__post p p,
.content__post span {
    margin-left: 20px;
}


.content__post p {
    font-weight: normal;
    width: 80%;
    color: gray
}

.content__post span {
    color: black
}

.content__post span:last-child {
    font-weight: bold;
    margin-left: 30px;
}

.subcontent {
    display: flex;
    justify-content: flex-end;
    height: 15vh;
}

.subcontent a:visited {
    color: white
}

#scrollTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    position: fixed;
    width: 140px;
    height: 40px;
    background: #0080ff;
    color: #fff;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    bottom: 30px;
    right: -40px;
    z-index: 1000;
    cursor: pointer;
}

#scrollTop.show {
    opacity: 1;
    visibility: visible;
    right: calc(4%);
}

#scrollTop::after {
    content: url('./icons/btn-arrow.png');
    padding-left: 5px;
}

/*-----------Footer----------*/
.footer {
    width: 100%;
    min-height: 7vh;
}

.footer__span {
    font-weight: bold;
    padding-left: 60px;
    padding-top: 20px;
}